!!!
html
  head
    title= title

    link(rel='stylesheet', href='/style.css')

    script(src='/jquery-1.6.2.min.js')
    script(src='/jquery.timeago.js')

    script
      $(document).ready(function() {
        $("time.timeago").timeago();
      });

  body
    #container
      h1#title
        a(href='/') git bundler service
      #content!= body
      footer
        p &copy; Tomas 'wereHamster' Carnecky

        ul
          li Powered by:

          li
            a(href="http://www.mongodb.org/") MongoDB
            span |
          li
            a(href="http://nodejs.org/") Node.js
            span |
          li
            a(href="http://expressjs.com/") Express

    != partial('gauges')
